@import url(../../assets/css/variable.less);
.view {
  padding: 24px;
  overflow: hidden;
  height: 100%;
  .content {
    height: calc(100% - 56px);
    overflow-x: hidden;
    overflow-y: scroll;
    @scrollbar();
    .gutter_box {
      margin: 8px 0;
    }
  }
  .page {
    padding-top: 24px;
    display: flex;
    flex-direction: row-reverse;
  }
  :global {
    .ant-table-thead > tr > th {
      border-bottom: none;
    }
    .ant-table-thead > tr > th {
      background-color: @light_primary_color;
      font-weight: 900;
    }
  }
  .sonProject_table {
    padding-bottom: 16px;
    position: relative;
  }
  .addSonProject {
    position: absolute;
    left: 50%;
    bottom: 19px;
    font-size: 28px;
    transform: translateX(-14px);
    color: @primary_color;
    &:hover {
      span {
        transform: rotate(75deg) scale(1.2);
      }
    }
  }
  .fadenum {
    animation: fadenum 2s;
  }
  /*设置内容由显示变为隐藏*/
  @keyframes fadenum {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
}
