@import url(../../assets/css/variable.less);
:global {
  .ant-card-head {
    background-color: @primary_color;
    color: @white_color;
  }
}
.Card_hrad_right {
  cursor: pointer;
  display: flex;
  > div:first-child {
    margin-right: 16px;
  }
}
.Card_bottom {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  .bottom_left {
    > span:last-child {
      color: @primary_color;
    }
  }
  .bottom_right {
    button {
      border: 1px solid @primary_color;
      height: auto;
      span {
        color: @primary_color;
      }
    }
  }
}
.content {
  > div {
    max-width: 250px;
    margin: 0 auto;
  }
}
.isClick_card {
  background-color: @light_primary_color;
  button {
    background: @primary_color;
    span {
      color: @white_color !important;
    }
    &:focus {
      background: @primary_color;
      span {
        color: @white_color;
      }
    }
  }
}
